* {
    box-sizing: border-box;
    margin: 0;
    font-family: Lexend, sans-serif;
}
/* principal */
.principal {
    display: block;
}
/* top */
.top {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding: 20px 25px;
}
.menu {
    padding: 26px 34px;
}
/* page-menu */
.menu-page {
    display: none;
}
.top-link-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit {
    padding: 20px 34px;
}
.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.links {
    display: none;
}
.page-links a{
    font-size: 20px;
    color: black;
}
/* text */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    gap: 14px;
    margin-top: 51px;
}
.title {
    text-align: center;
}
.subtitle {
    color: #878787;
    width: 189px;
    font-size: 14px;
    text-align: center;
}
.top-cta {
    display: none;
}
.menu-top-cta {
    display: block;
    border: none;
    padding: 12px;
    background-color: black;
    color: white;
    margin: 40px 100px 0px 100px;
    text-align: center;
    border-radius: 70px;
    text-decoration: black;
    animation: scale 300ms;
    animation-timing-function: cubic-bezier(0.55,-0.59, 0.43, 1.7);
}
@keyframes scale {
    from {
        font-size: 14px;
    }
    to {
        font-size: 20px;
    }
}
.cta {
    border: none;
    width: 181px;
    text-align: center;
    padding: 13px;
    background-color: #36297D;
    color: white;
    border-radius: 70px;
    margin-top: 31px;
    text-decoration: none;
}
.cta:hover {
    background-color: #2D7D96;
}
.hero-img {
    background-image: url(/assets/talking.svg);
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.hero-img-d {
    display: none;
}

@media (min-width: 600px) {
    .menu {
        display: none;
    }
    .links {
        display: block;
        display: flex;
        padding: 26px 34px;
        gap: 20px;
    }
    .links a {
        text-decoration: none;
        color: black;
        transition: color 0.2s ease;
        display: block;
        position: relative;
    }
    .links a:hover{
        color: #878787;
    }
    .links a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: #878787;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        transform: scale(0);
        transform-origin: center;
    }
    .links a:hover::after,
    .links a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
        transform: scale(1);
    }
    .top-cta {
        display: block;
        border: none;
        padding: 12px 20px;
        background-color: black;
        color: white;
        margin: 20px;
        border-radius: 70px;
        text-decoration: black;
    }
    .top-cta:hover {
        cursor: pointer;
        background-color: #36297D;
        transition: ease 300ms;
    }
    .hero-txt {
        width: 790px;
        margin-top: 80px;
        font-size: 25px;
    }
    .subtitle {
        width: 470px;
        font-size: 25px;
        font-weight: 300;
        margin-top: 0px;
    }
    .cta {
        width: 281px;
        padding: 20px 13px;
        font-size: 20px;
        margin-top: 52px;
    }
    .cta:hover {
        cursor: pointer;
    }
    .hero-img {
        display: none;
    }
    .hero-back {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
    }
    .hero-img-d {
        display: block;
        background-image: url(/assets/talking-d.svg);
        width: 1276px;
        height: 571px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 70px;
        
    }
}
