* {
    box-sizing: border-box;
    margin: 0;
    font-family: Lexend, sans-serif;
}
.top {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding: 20px 25px;
}
.menu {
    padding: 26px 34px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    gap: 14px;
    margin-top: 51px;
}
.title {
    text-align: center;
}
.subtitle {
    color: #878787;
    width: 189px;
    font-size: 14px;
    text-align: center;
}
.cta {
    all: unset;
    width: 181px;
    text-align: center;
    padding: 13px;
    background-color: #36297D;
    color: white;
    border-radius: 70px;
    margin-top: 31px;
}
.cta:hover {
    background-color: #2D7D96;
}
.hero-img {
    background-image: url(/assets/talking.svg);
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}