* {
    box-sizing: border-box;
    margin: 0;
    font-family: Lexend, sans-serif;
}
/* principal */
.principal {
    display: block;
}
/* top */
.top {
    display: flex;
    justify-content: space-between;
}
.active {
    padding: 20px 25px;
}
.menu {
    padding: 26px 34px;
}
/* page-menu */
.menu-page {
    display: none;
}
.top-link-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit {
    padding: 20px 34px;
}
.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.page-links a{
    font-size: 20px;
    color: black;
    animation: scale 300ms; 
    animation-timing-function: cubic-bezier(0.55,-0.59, 0.43, 1.7);
}
@keyframes scale {
    from {
        font-size: 14px;
    }
    to {
        font-size: 20px;
    }
}
/* text */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    gap: 14px;
    margin-top: 51px;
}
.title {
    text-align: center;
}
.subtitle {
    color: #878787;
    width: 189px;
    font-size: 14px;
    text-align: center;
}
.cta {
    all: unset;
    width: 181px;
    text-align: center;
    padding: 13px;
    background-color: #36297D;
    color: white;
    border-radius: 70px;
    margin-top: 31px;
}
.cta:hover {
    background-color: #2D7D96;
}
.hero-img {
    background-image: url(/assets/talking.svg);
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
