* {
    box-sizing: border-box;
    margin: 0;
    font-family: Lexend, sans-serif;
}
/* principal */
.principal {
    display: block;
}
/* top */
.top {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: block;
    padding: 20px 25px;
}
.logo-d {
    display: none;
}
.menu {
    padding: 26px 34px;
}
/* page-menu */
.menu-page {
    display: none;
}
.top-link-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit {
    padding: 20px 34px;
}
.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.links {
    display: none;
}
.page-links a{
    font-size: 20px;
    color: black;
}
/* text */
.really {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    gap: 14px;
    margin-top: 51px;
}
.title {
    text-align: center;
}
.subtitle {
    color: #878787;
    width: 189px;
    font-size: 14px;
    text-align: center;
}
.top-cta {
    display: none;
}
.menu-top-cta {
    display: block;
    border: none;
    padding: 12px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 40px 100px 0px 100px;
    text-align: center;
    border-radius: 70px;
    text-decoration: black;
    animation: scale 300ms;
    animation-timing-function: cubic-bezier(0.55,-0.59, 0.43, 1.7);
}
@keyframes scale {
    from {
        font-size: 14px;
    }
    to {
        font-size: 20px;
    }
}
.cta {
    border: none;
    width: 181px;
    text-align: center;
    padding: 13px;
    background-color: #36297D;
    color: white;
    border-radius: 70px;
    margin-top: 31px;
    text-decoration: none;
}
.cta:hover {
    background-color: #2D7D96;
}
.hero-img {
    background-image: url(/assets/talking.svg);
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.hero-img-d {
    display: none;
}
.acquire {
    display: none;
}
.natural {
    display: none;
}
.pain1 {
    display: none;
}
.bad {
    display: none;
}


@media (min-width: 600px) {
    .logo {
        display: none;
    }
    .logo-d {
        display: block;
        padding: 31px 0px 0px 40px;
    }
    .menu {
        display: none;
    }
    .links {
        display: block;
        display: flex;
        padding: 45px 34px;
        gap: 25px;
    }
    .links a {
        font-size: 22px;
        text-decoration: none;
        color: black;
        transition: color 0.2s ease;
        display: block;
        position: relative;
    }
    .links a:hover{
        color: #878787;
    }
    .links a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: #878787;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        transform: scale(0);
        transform-origin: center;
    }
    .links a:hover::after,
    .links a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
        transform: scale(1);
    }
    .top-cta {
        display: block;
        border: none;
        height: 55px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        margin: 30px;
        border-radius: 70px;
        text-decoration: black;
    }
    .top-cta:hover {
        cursor: pointer;
        background-color: #36297D;
        transition: ease 300ms;
    }
    .really {
        display: block;
        color: #36297D;
        background-color: rgba(54, 41, 125, 0.2);
        padding: 9px 20px;
        font-size: 13px;
        border-radius: 70px;
        border: 1.5px solid #36297D;
        margin-top: 50px;
    }
    .hero-txt {
        width: 790px;
        margin-top: 20px;
        font-size: 27px;
    }
    .subtitle {
        width: 470px;
        font-size: 25px;
        font-weight: 400;
        margin-top: 0px;
    }
    .cta {
        width: 281px;
        padding: 20px 13px;
        font-size: 20px;
        margin-top: 52px;
    }
    .cta:hover {
        cursor: pointer;
    }
    .hero-img {
        display: none;
    }
    .hero-back {
        border: 1px solid blue;
        width: 100%;
        /* height: 650px; */
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
    }
    .hero-img-d {
        /* border: 1px solid blue; */
        display: block;
        background-image: url(/assets/hero_illustration_d.svg);
        width: 1025px;
        height: 500px;
        background-repeat: no-repeat;
        margin-top: 70px;
    }
    .acquire {
        display: block;
        color: white;
        width: 80px;
        margin-left: 480px;
        font-size: 10.66px;
        margin-top: 44px;
    }
    .natural {
        display: block;
        color: white;
        width: 100px;
        margin-left: 470px;
        font-size: 10.66px;
        margin-top: 5px;
        text-align: right;
    }
    /* .flow {
        display: block;
        background-image: url(/assets/flow.svg);
        width: 100%;
        background-repeat: no-repeat;
        margin-top: 70px;
        position: relative;
    } */
    .pain-back {
        border: 1px solid blue;
        width: 100%;
        /* height: 650px; */
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
        /* position: absolute; */
    }
    .pain1 {
        /* border: 1px solid blue; */
        display: block;
        background-image: url(/assets/crumbled_back.svg);
        width: 1060px;
        height: 500px;
        background-repeat: no-repeat;
        margin: auto;
        position: relative;
    }
    .pain2 {
        /* border: 1px solid rgb(0, 255, 13); */
        display: block;
        background-image: url(/assets/crumbled_front.svg);
        width: 1060px;
        height: 500px;
        background-repeat: no-repeat;
        margin: auto;
        position: absolute;
        z-index: 7;
    }
    .bad {
        display: block;
        margin: auto;
    }
    .content1 {
        /* border: 1px solid green; */
        width: 846.47px;
        height: 288.42px;
        margin: 119px 0px 0px 85px;
    }
    .top-txt1 {
        /* border: 1px solid blue; */
        width: 811.05px;
        text-align: center;
        z-index: 2;
    }
    .most {
        font-size: 20.96px;
        font-weight: 500;
    }
    .format {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .truth {
        margin-top: 4px;
        font-size: 21.69px;
        font-weight: 600;
        position: absolute;
        z-index: 2;
    }
    .rec1 {
        background-color: rgba(196, 55, 55, 0.59);
        width: 491.54px;
        height: 13.01px;
        position: absolute;
        z-index: 1;
        margin-top: 19px;
    }
    .points1 {
        /* border: 1px solid purple; */
        margin-top: 50px;
        height: 200px;
        width: 829.12px;
        display: flex;
        justify-content: space-between;
    }
    .grammar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .grammar img {
        margin-bottom: 10px;
    }
    .bad-title {
        font-weight: 600;
        font-size: 17.35px;
    }
    .line1-p {
        width: 167.7px;
        height: 1.6px;
        background-color: #C43737;
        margin-bottom: 3px;
        border-radius: 70px;
    }
    #desc-grammar {
        margin-bottom: -7px;
    }
    .silent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .silent img {
        margin-bottom: 10px;
    }
    .line2-p {
        width: 180.7px;
        height: 1.6px;
        background-color: #C43737;
        margin-bottom: 2px;
        border-radius: 70px;
    }
    .gap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .au {
        padding-bottom: 30px;
    }
    .txt-under-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }
    .line3-p {
        width: 127.7px;
        height: 1.6px;
        background-color: #C43737;
        margin-bottom: 2px;
        border-radius: 70px;
    }
    .bad-description {
        /* border: 1px solid purple; */
        text-align: center;
        width: 270px;
    }
    .solution-back {
        /* border: 1px solid blue; */
        width: 100%;
        /* height: 650px; */
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
        /* position: absolute; */
    }
    .solution1 {
        display: block;
        background-image: url(/assets/base.svg);
        width: 1060px;
        height: 500px;
        background-repeat: no-repeat;
        margin: auto;
        position: relative;
    }
    .content2 {
        /* border: 1px solid green; */
        width: 870.47px;
        height: 288.42px;
        margin: 58px 0px 0px 80px;
    }
    .top-txt2 {
        /* border: 1px solid blue; */
        width: 830px;
        text-align: center;
        z-index: 0;
    }
    .top-txt2 p {
        font-weight: 500;
        font-size: 21.4px;
    }
    .highlight {
        position: relative;
        display: inline-block;
        font-size: 21.69px;
        font-weight: 600;
        z-index: 2;
    }
    .rec2 {
        display: none; /*modify*/
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 13px;
        background-color: rgba(56, 178, 172, 0.55);
        z-index: 0;
    }
    
    .points2 {
        /* border: 1px solid purple; */
        margin-top: 20px;
        height: 200px;
        width: 849.12px;
        display: flex;
        justify-content: space-between;
    }
    .acquisition {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .acquisition img {
        margin-bottom: 10px;
    }
    .good-title {
        font-weight: 600;
        font-size: 17.35px;
    }
    .line4-p {
        width: 107.7px;
        height: 1.6px;
        background-color: #38B2AC;
        margin-bottom: 3px;
        border-radius: 70px;
    }
    #desc-acqui {
        margin-bottom: -7px;
    }
    .communication {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .communication img {
        margin-bottom: 18px;
    }
    .line5-p {
        width: 150.7px;
        height: 1.6px;
        background-color: #38B2AC;
        margin-bottom: 2px;
        border-radius: 70px;
    }
    #desc-commun {
        margin-bottom: -8px;
    }
    .infinite {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .ue {
        padding-bottom: 28px;
    }
    .txt-under-img2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -10px;
    }
    .line6-p {
        width: 207.7px;
        height: 1.6px;
        background-color: #38B2AC;
        margin-bottom: 2px;
        border-radius: 70px;
    }
    .good-description {
        /* border: 1px solid purple; */
        text-align: center;
        width: 277px;
    }
}
